@using PGLaw.Application.Sistema.Models;
@using PGLaw.Presentation.Web.Views.Menus;

@model MenuVM

@{
    ViewBag.Title = Model?.Titulo;
    ViewBag.SubTitle = "Menu " + Model.Tipo;
}

<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <form asp-action="Edit" method="post" class="form" role="form">
            <div class="card card-underline">
                <div class="card-head card-head-sm style-primary">
                    <header>@ViewBag.Title</header>
                    <div class="tools">
                        <a asp-action="Remover" asp-route-id="@Model?.Id" class="btn btn-icon-toggle btn-close"><i class="md md-delete"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    @Html.Partial("_Menu", Model)
                </div>
                <div class="card-actionbar">
                    <div class="card-actionbar-row">
                        <button type="reset" class="btn btn-flat">Cancel</button>
                        <button type="submit" class="btn btn-flat btn-primary">Atualizar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-3">
    </div>
</div>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @*<script src="~/assets/js/libs/autosize/jquery.autosize.min.js"></script>*@
    <script src="~/assets/js/libs/multi-select/jquery.multi-select.js"></script>
    <script src="~/assets/js/libs/quicksearch/quick-search.js"></script>

    <script>
        $(document).ready(function () {
            //$('#todos-menus').DualListBox();
            //$('#todos-usuarios').DualListBox();
            $('textarea').autosize();

            $('.searchable').multiSelect({
                selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='Pesquisar...'>",
                selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='Pesquisar...'>",
                afterInit: function (ms) {
                    var that = this,
                        $selectableSearch = that.$selectableUl.prev(),
                        $selectionSearch = that.$selectionUl.prev(),
                        selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                        selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                        .on('keydown', function (e) {
                            if (e.which === 40) {
                                that.$selectableUl.focus();
                                return false;
                            }
                        });

                    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                        .on('keydown', function (e) {
                            if (e.which == 40) {
                                that.$selectionUl.focus();
                                return false;
                            }
                        });
                },
                afterSelect: function () {
                    this.qs1.cache();
                    this.qs2.cache();
                },
                afterDeselect: function () {
                    this.qs1.cache();
                    this.qs2.cache();
                }
            });
        });
    </script>
}


