@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erro 403";
    Layout = "~/Views/Shared/_LayoutErro.cshtml";
}

<div class="contain-xs text-center">
    <h1 class="text-danger">Opa!</h1>
    <h2 class="text-danger">Parece que você não tem permissão para acessar esta página!</h2>
</div>
