@section styles{


}


<div class="row">
    <!-- BEGIN ALERT - VISITS -->
    @*<div class="col-md-3 col-sm-6">
            <div class="card">
                <div class="card-body no-padding">
                    <div class="alert alert-callout alert-warning no-margin">
                        <strong class="pull-right text-warning text-lg">20% <i class="md md-swap-vert"></i></strong>
                        <strong class="text-xl">5</strong><br />
                        <span class="opacity-50">Em Análise</span>
                        <div class="stick-bottom-left-right">
                            <div class="progress progress-hairline no-margin">
                                <div class="progress-bar progress-bar-warning" style="width:20%"></div>
                            </div>
                        </div>
                    </div>
                </div><!--end .card-body -->
            </div><!--end .card -->
        </div><!--end .col -->*@
    <!-- END ALERT - VISITS -->
    <div class="col-md-3 col-sm-6">
        <div class="card  card-bordered style-warning">
            <div class="card-body small-padding ">
                <strong class="pull-right text-lg">20% <i class="md md-swap-vert"></i></strong>
                <strong class="text-xl">5</strong><br />
                <span class="opacity-50">Em Análise</span>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
    @*<div class="col-md-3 col-sm-6">
            <div class="card">
                <div class="card-body no-padding ">
                    <div class="alert alert-callout alert-success no-margin">
                        <strong class="pull-right text-success text-lg">68% <i class="md md-trending-up"></i></strong>
                        <strong class="text-xl">17</strong><br />
                        <span class="opacity-50">Aprovado</span>
                        <div class="stick-bottom-left-right">
                            <div class="progress progress-hairline no-margin">
                                <div class="progress-bar progress-bar-success" style="width:68%"></div>
                            </div>
                        </div>
                    </div>
                </div><!--end .card-body -->
            </div><!--end .card -->
        </div><!--end .col -->*@
    <!-- END ALERT - REVENUE -->
    <div class="col-md-3 col-sm-6">
        <div class="card  card-bordered style-success">
            <div class="card-body small-padding ">
                <strong class="pull-right  text-lg">68% <i class="md md-trending-up"></i></strong>
                <strong class="text-xl">17</strong><br />
                <span class="opacity-50">Aprovado</span>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
    @*<div class="col-md-3 col-sm-6">
            <div class="card">
                <div class="card-body no-padding">
                    <div class="alert alert-callout alert-danger no-margin">
                        <strong class="pull-right text-danger text-lg">4% <i class="md md-trending-down"></i></strong>
                        <strong class="text-xl">1</strong><br />
                        <span class="opacity-50">Vencendo</span>
                        <div class="stick-bottom-left-right">
                            <div class="progress progress-hairline no-margin">
                                <div class="progress-bar progress-bar-danger" style="width:4%"></div>
                            </div>
                        </div>
                    </div>
                </div><!--end .card-body -->
            </div><!--end .card -->
        </div><!--end .col -->*@
    <div class="col-md-3 col-sm-6">
        <div class="card card-bordered style-danger">
            <div class="card-body small-padding">
                <strong class="pull-right text-lg">4% <i class="md md-trending-down"></i></strong>
                <strong class="text-xl">1</strong><br />
                <span class="opacity-50">Vencendo</span>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
    <!-- BEGIN ALERT - BOUNCE RATES -->
    @*<div class="col-md-3 col-sm-6">
            <div class="card">
                <div class="card-body no-padding">
                    <div class="alert alert-callout alert-info no-margin">
                        <strong class="pull-right text-info text-lg">8% <i class="md md-swap-vert"></i></strong>
                        <strong class="text-xl">2</strong><br />
                        <span class="opacity-50">Não Aprovado</span>
                        <div class="stick-bottom-left-right">
                            <div class="progress progress-hairline no-margin">
                                <div class="progress-bar progress-bar-info" style="width:8%"></div>
                            </div>
                        </div>
                    </div>
                </div><!--end .card-body -->
            </div><!--end .card -->
        </div><!--end .col -->*@

    <div class="col-md-3 col-sm-6">
        <div class="card card-bordered style-info">
            <div class="card-body small-padding ">

                <strong class="pull-right  text-lg">8% <i class="md md-swap-vert"></i></strong>
                <strong class="text-xl">2</strong><br />
                <span class="opacity-50">Não Aprovado</span>

            </div>
        </div><!--end .card-body -->
    </div><!--end .card -->
</div><!--end .col -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table no-margin table-hover" style="font-size:13px">
                        <thead>
                            <tr>
                                <th>Razão Social</th>
                                <th>Tipo</th>
                                <th>Ativo</th>
                                <th>Grência</th>
                                <th>Data Assinatura</th>
                                <th>Data Vencimento</th>
                                <th>Status Contrato</th>
                                <th>Vigência</th>
                                <th>Índice Reajuste</th>
                                <th>Juros/Multa</th>
                                <th>%Juros/Multa</th>
                                <th style="text-align:Center">Opção</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>DIGIBRÁS INDÚSTRIA DO BRASIL S/A.</td>
                                <td>Contrato</td>
                                <td>Sim</td>
                                <td>Produtos</td>
                                <td>01/04/2013</td>
                                <td></td>
                                <td>Indeterminado</td>
                                <td>Indeterminado</td>
                                <td>Não previsto</td>
                                <td>Não</td>
                                <td>SEM PREVISÃO</td>
                                <td class="text-right">
                                    <nobr>
                                        <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
                                        <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
                                    </nobr>
                                </td>
                            </tr>
                            <tr>
                                <td>HP - HEWLETT PACKARD BRASIL LTDA</td>
                                <td>Contrato</td>
                                <td>Sim</td>
                                <td>Produtos</td>
                                <td>01/10/2010</td>
                                <td></td>
                                <td>Indeterminado</td>
                                <td>Indeterminado</td>
                                <td>IGP-M</td>
                                <td>Sim</td>
                                <td>2% MULTA + 1% JUROS AO MÊS</td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Microsoft</td>
                                <td>Contrato</td>
                                <td>Sim</td>
                                <td>Produtos</td>
                                <td>18/09/2015</td>
                                <td></td>
                                <td>Indeterminado</td>
                                <td>Indeterminado</td>
                                <td>Não previsto</td>
                                <td>Não</td>
                                <td>SEM PREVISÃO</td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            <tr class="danger">
                                <td>NOKIA DO BRASIL</td>
                                <td>Contrato</td>
                                <td>Sim</td>
                                <td>Produtos</td>
                                <td>28/07/2014</td>
                                <td class="alert-danger text-bold">28/07/2015</td>
                                <td>Vencido</td>
                                <td>12 Meses</td>
                                <td>IGP-M</td>
                                <td>Sim</td>
                                <td>2% MULTA + 1% JUROS AO MÊS</td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>ALCTEL</td>
                                <td>Contrato</td>
                                <td>Sim</td>
                                <td>Fornecedores</td>
                                <td>15/01/2018</td>
                                <td>15/01/2019</td>
                                <td>A Vencer</td>
                                <td>12 Meses</td>
                                <td>IGP-M</td>
                                <td>Sim</td>
                                <td>2% MULTA + 1% JUROS AO MÊS</td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            <tr class="warning">
                                <td>ASURION</td>
                                <td>Contrato</td>
                                <td>Sim</td>
                                <td>Fornecedores</td>
                                <td>01/04/2017</td>
                                <td class="alert-danger text-bold">01/04/2018</td>
                                <td>A Vencer</td>
                                <td>12 Meses</td>
                                <td>IGP-M</td>
                                <td>Sim</td>
                                <td>2% MULTA + 1% JUROS AO MÊS</td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>3 M do Brasil</td>
                                <td>Contrato</td>
                                <td>Não</td>
                                <td>Clientes</td>
                                <td>13/01/2016</td>
                                <td></td>
                                <td>Indeterminado</td>
                                <td>Outros</td>
                                <td>Não previsto</td>
                                <td>Não</td>
                                <td>SEM PREVISÃO</td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-icon-toggle" id="Editar" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
</div>

<!-- BEGIN FORM MODAL MARKUP -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="formModalLabel">Contrato</h4>
            </div>
            <form class="form-horizontal" role="form">
                <div class="modal-body">
                    <div >                       
                        <ul class="nav nav-tabs" data-toggle="tabs">
                            <li class="active"><a href="#Basico">Dados Básicos</a></li>
                            <li><a href="#Servicos">Serviços Previstos e Forma de Pagamento</a></li>
                            <li><a href="#Despesas">Tipo de Despesas Reembolsáveis</a></li>
                            <li><a href="#Arquivos">Arquivos</a></li>
                        </ul>
               
                        <div class="tab-content card-body">
                            <div class="tab-pane active" id="Basico">
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="select1" class="control-label">Tipo</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <select id="select1" name="select1" class="form-control">
                                            <option value="">&nbsp;</option>
                                            <option value="1">Contrato</option>
                                            <option value="2">Proposta Comercial</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="RazaoSocial" class="control-label">Razão Social</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" name="RazaoSocial" id="RazaoSocial" class="form-control">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inlineRadioOptionsAtivo" class="control-label">Ativo</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="radio-inline radio-styled">
                                            <input type="radio" name="inlineRadioOptionsAtivo" value="1"><span>Sim</span>
                                        </label>
                                        <label class="radio-inline radio-styled radio-danger">
                                            <input type="radio" name="inlineRadioOptionsAtivo" value="0"><span>Não</span>
                                        </label>
                                    </div><!--end .col -->
                                </div><!--end .form-group -->

                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="Gerencia" class="control-label">Gerência</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <select id="Gerencia" name="Gerencia" class="form-control">
                                            <option value="">&nbsp;</option>
                                            <option value="1">Financeiro</option>
                                            <option value="2">Produtos</option>
                                            <option value="3">RH</option>
                                            <option value="4">Serviços</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="Assinatura" class="control-label">Assinatura do Contrato</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="input-group date" id="demo-date">
                                            <div class="input-group-content">
                                                <input type="text" id="Assinatura" name="Assinatura" class="form-control datepicker">
                                            </div>
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="Vigencia" class="control-label">Vigência</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <select id="Vigencia" name="Vigencia" class="form-control">
                                            <option value="">&nbsp;</option>
                                            <option value="1">12 meses</option>
                                            <option value="2">24 meses</option>
                                            <option value="3">36 meses</option>
                                            <option value="4">48 meses</option>
                                            <option value="4">Indeterminado</option>
                                            <option value="4">Outros</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="Objeto" class="control-label">Objeto do Contrato</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <textarea name="Objeto" id="Objeto" class="form-control" rows="3" placeholder=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="indice" class="control-label">Índice de Reajuste</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <select id="indice" name="indice" class="form-control">
                                            <option value="">&nbsp;</option>
                                            <option value="1">IGP-M</option>
                                            <option value="2">IPC-A</option>
                                            <option value="3">INPC</option>
                                            <option value="4">Salário Mínimo</option>
                                            <option value="5">Não Previsto</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="inlineRadioOptionsJuros" class="control-label">Cláusula de Juros e Multa</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="radio-inline radio-styled">
                                            <input type="radio" name="inlineRadioOptionsJuros" value="1"><span>Sim</span>
                                        </label>
                                        <label class="radio-inline radio-styled radio-danger">
                                            <input type="radio" name="inlineRadioOptionsJuros" value="0"><span>Não</span>
                                        </label>
                                    </div><!--end .col -->
                                </div><!--end .form-group -->

                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label for="DescJuros" class="control-label">% Juros e Multa</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" name="DescJuros" id="DescJuros" class="form-control">
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="Servicos">
                                <table class="table no-margin table-hover" style="font-size:13px">
                                    <thead>
                                        <tr>
                                            <th>Tipo</th>
                                            <th>Valor</th>
                                            <th>Forma de Pagamento</th>
                                            <th style="text-align:Center">Opção</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Distribuição</td>
                                            <td>373.530,00</td>
                                            <td>10 Parcelas</td>

                                            <td class="text-right">
                                                <nobr>
                                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
                                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
                                                </nobr>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Locação</td>
                                            <td>679.150,00</td>
                                            <td>Parcelas mensais</td>

                                            <td class="text-right">
                                                <nobr>
                                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
                                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
                                                </nobr>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Prestação de Serviço</td>
                                            <td>124.700,00</td>
                                            <td>12 parcelas</td>

                                            <td class="text-right">
                                                <nobr>
                                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Edit row"><i class="fa fa-pencil"></i></button>
                                                    <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
                                                </nobr>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="Despesas">
                                <div class="form-group">
                                    <div class="col-sm-12 text-justify">
                                        <label class="checkbox-inline checkbox-styled">
                                            <input type="checkbox" value="option1"><span>Cartório</span>
                                        </label>
                                        <label class="checkbox-inline checkbox-styled">
                                            <input type="checkbox" value="option2"><span>Digitalização</span>
                                        </label>
                                        <label class="checkbox-inline checkbox-styled">
                                            <input type="checkbox" value="option3"><span>Locomoção</span>
                                        </label>
                                        <label class="checkbox-inline checkbox-styled">
                                            <input type="checkbox" value="option4"><span>Correios</span>
                                        </label>
                                        <label class="checkbox-inline checkbox-styled">
                                            <input type="checkbox" value="option5"><span>Telefonia</span>
                                        </label>
                                        <label class="checkbox-inline checkbox-styled">
                                            <input type="checkbox" value="option6"><span>Emolumentos</span>
                                        </label>
                                    </div><!--end .col -->
                                </div><!--end .form-group -->
                            </div>
                            <div class="tab-pane" id="Arquivos">
                                <div class="form-group">
                                    <div class="col-sm-8 paddin" style="padding:50px">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" type="button">Upload Arquivo</button>
                                            </div>
                                            <div class="input-group-content">
                                                <input type="text" class="form-control" id="groupbutton17">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 paddin" style="padding:30px">
                                        <table class="table" style="font-size:13px">
                                            <thead>
                                                <tr>
                                                    <th>Arquivos</th>
                                                    <th style="text-align:Center"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>CONTRATO.pdf</td>
                                                    <td class="text-right">
                                                        <nobr>
                                                            <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
                                                        </nobr>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>ANEXO.pdf</td>
                                                    <td class="text-right">
                                                        <nobr>
                                                            <button type="button" class="btn btn-icon-toggle" data-toggle="tooltip" data-placement="top" data-original-title="Delete row"><i class="fa fa-trash-o"></i></button>
                                                        </nobr>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div><!--end .form-group -->
                            </div>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END FORM MODAL MARKUP -->

<script type="text/javascript">



    $("#Editar").click(function () {
        $('#formModal').modal();
    });



</script>