@model IEnumerable<PGLaw.Application.Juridico.Models.Processos.JusticaVM>

<div id="card-lista" class="card container-lista-pesquisavel">
    <div class="card-body style-primary form-inverse">
        <form id="form-pesquisa" class="form-horizontal no-y-padding focus" role="form">
            <div class="row">
                <div id="form-group-pesquisa" class="form-group floating-label no-margin">
                    <div class="input-group">
                        <div class="input-group-content">
                            <input type="text" id="Pesquisa" name="Pesquisa" class="form-control pesquisa" />
                        </div>
                        <div class="input-group-btn">
                            <button id="btn-buscar" class="btn btn-floating-action btn-primary-dark" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="partial-container" class="card-body no-padding">
        <div class="small-padding style-primary-dark">
            <p class="text-light text-right no-margin">A busca retornou <strong>@(Model?.Count() ?? 0)</strong> resultados</p>
        </div>
        <ul class="list divider-full-bleed lista">
            @if (Model?.Any() ?? false)
            {
                var contador = 1;

                foreach (var item in Model)
                {
                    <li id="tile-@contador" class="tile item">
                        <a class="tile-content ink-reaction">
                            <div class="tile-icon">
                                <span>
                                    @*<i class=" text-info md md-person"></i>*@
                                </span>
                            </div>

                            <div class="tile-text nome detalhe">
                                @item.DescricaoReduzida
                                <small>@item.Descricao</small>
                            </div>
                        </a>
                        <a class="btn btn-flat ink-reaction btn-default" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fa fa-edit"></i>
                        </a>
                    </li>

                    contador++;
                }
            }
        </ul>
    </div>
</div>

<br />
<br />

<div class="fixed-action-btn">
    <a asp-action="Create" class="btn ink-reaction  btn-floating-action btn-floating btn-large btn-primary-dark"><i class="md md-add"></i></a>
</div>

@section scripts {
    <script src="~/js/core/source/AppFormListaPesquisavel.js"></script>
}
