@model PGLaw.Application.Juridico.Models.Processos.OrgaoVM

<div class="form-group">
    <select asp-for="JusticaId" asp-items="ViewBag.Justicas" class="form-control"></select>
    <label asp-for="JusticaId"></label>
</div>

<div class="form-group">
    <input asp-for="Id" class="form-control" />
    <span asp-validation-for="Id"></span>
    <label asp-for="Id"></label>
</div>

<div class="form-group">
    <input asp-for="Descricao" class="form-control" />
    <span asp-validation-for="Descricao"></span>
    <label asp-for="Descricao"></label>
</div>

<div class="form-group">
    <input asp-for="DescricaoReduzida" class="form-control" />
    <span asp-validation-for="DescricaoReduzida"></span>
    <label asp-for="DescricaoReduzida"></label>
</div>