
<div class="table-responsive">
    <table class="table no-margin table-hover" style="font-size:13px">
        <thead >
            <tr class="style-primary" >
                <th>Tipo Endereço</th>
                <th>Endereço</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th style="text-align:center">Opção</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>