<div class="col-lg-3 col-sm-12">
    <div class="form-group">
        <select id="TipoEndereco" name="TipoEndereco" class="form-control">
            <option value="">&nbsp;</option>
            <option value="1">Cobrança</option>
            <option value="2">Comercial</option>
            <option value="3">Entrega</option>
        </select>
        <label for="TipoEndereco">Tipo Endereço</label>
    </div>
</div>
<div class="col-lg-7 col-sm-12">
    <div class="form-group">
        <input type="text" name="Endereco" id="Endereco" class="form-control" data-rule-minlength="5">
        <label for="Endereco" class="control-label">Endereço</label>
    </div>
</div>
<div class="col-lg-2 col-sm-12">
    <div class="form-group">
        <input type="text" name="Numero" id="Numero" class="form-control" data-rule-minlength="5">
        <label for="Numero" class="control-label">Número</label>
    </div>
</div>
<div class="col-lg-5 col-sm-12">
    <div class="form-group">
        <input type="text" name="Complemento" id="Complemento" class="form-control" data-rule-minlength="5">
        <label for="Complemento" class="control-label">Complemento</label>
    </div>
</div>
<div class="col-lg-5 col-sm-12">
    <div class="form-group">
        <input type="text" name="Bairro" id="Bairro" class="form-control" data-rule-minlength="5">
        <label for="Bairro" class="control-label">Bairro</label>
    </div>
</div>
<div class="col-lg-2 col-sm-12">
    <div class="form-group">
        <input type="text" name="Cep" id="Cep" class="form-control" data-rule-postalcodeBR="true">
        <label for="Cep" class="control-label">CEP</label>
    </div>
</div>
<div class="col-lg-5 col-sm-12">
    <div class="form-group">
        <select  class="form-control">
            <option value="SP">São Paulo</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="MG">Minas gerais</option>
        </select>
        <label for="Estado">Estado</label>
    </div>
</div>
<div class="col-lg-7 col-sm-12">
    <div class="form-group">
        <select id="Cidade" name="Cidade" class="form-control">
            <option value="">&nbsp;</option>
        </select>
        <label for="Cidade">Cidade</label>
    </div>
</div>